volumes:
  snapkeep_postgres_data:
  snapkeep_redis_data:

services:
  snapkeepdb:
    image: postgres:17-alpine
    container_name: snapkeep_postgres
    ports:
      - "5436:5432"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USERNAME: ${POSTGRES_USERNAME}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - snapkeep_postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    # env_file:
    #   - .env.docker

  snapkeepredis:
    image: redis:7-alpine
    container_name: snapkeep_redis
    ports:
      - "6380:6379"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    volumes:
      - snapkeep_redis_data:/data
    command: /bin/sh -c "redis-server --requirepass $$REDIS_PASSWORD"
    healthcheck:
      test: ["CMD-SHELL", "redis-cli -a $$REDIS_PASSWORD ping || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
    # env_file:
    #   - .env.docker

  snapkeep:
    build: .
    container_name: snapkeep_app
    depends_on:
      snapkeepdb:
        condition: service_healthy
      snapkeepredis:
        condition: service_healthy
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    env_file:
      - .env
    environment:
      BACKUP_FOLDER_PATH: /app/backups
    ports:
      - "8001:8001"
    volumes:
      - ${BACKUP_FOLDER_PATH}:/app/backups
    restart: unless-stopped
